
.contPort{
  height: 70rem;
  position: relative;
}
.imgHeader{
  height: 75vh;
  width: 100vw;
}

hr{
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.card{
  width: 30%;
}

.contCard{
  margin-left: 10rem;
  margin-top: -7rem;
  background: rgb(242, 243, 242);
  width: 60rem;
  height: 25rem;
  padding: 1rem;
  position: absolute;
  border-radius: 10px;
}

.card-body{
  background: rgb(242, 243, 242);
}

.card-img-top{
  border-radius: 5px;
}